* {
  box-sizing: border-box;
  margin: 0px;
  font-family: 'Raleway', sans-serif;
}

.container {
  width: 100vw;
  padding: 30px 10px;
  min-height: 100vh;
  display: flex;
  background-color: rgba(13, 171, 180, 0.2);
  transform-style: preserve-3d;
  flex-direction: column;
  justify-content: center;
  transform: perspective(1000px);
  align-items: center;
}

.hero {
  width: 90%;
  height: 400px;
  margin: 30px 0;
  transform: translateZ(20px);
}

.title {
  font-weight: 700;
  font-size: 60px;
  text-transform: capitalize;
  letter-spacing: 5px;
  color: #0dabb4;
}
.sub-title {
  opacity: 0.5;
  margin-bottom: 30px;
  text-align: center;
}
.message {
  font-weight: 900;
  text-transform: capitalize;
  letter-spacing: 3px;
  font-size: 32px;
  opacity: 0.5;
}

form {
  display: flex;
  height: 300px;
  margin-top: 40px;
  flex-direction: column;
  justify-content: space-around;
}

.input-field {
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  width: 280px;
  border: 1px solid #00000080;
}

.white-background {
  background: white;
}

.input-field:focus {
  outline: none;
}

a {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

label {
  font-size: 38px;
  font-weight: 500;
  text-align: center;
  color: #00000090;
}

button {
  height: 40px;
  border: none;
  font-size: 18px;
  background: #0dabb4;
  color: white;
  transition: all 0.3s;
  box-shadow: 0px 5px 7.5px #00000066;
  border-radius: 5px;
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0px 8px 12px #00000077;
}

button:active {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0px 6px 9px #00000077;
}

button:focus {
  outline: none;
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 2px;
  }
  .message {
    font-weight: 700;
    font-size: 26px;
  }
  button {
    transform: translateY(-3px);
    box-shadow: 0px 8px 12px #00000077;
  }
  button:hover {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0px 6px 9px #00000077;
  }
}
